.search-bar[data-v-56fd475f]{margin-bottom:20px}.search-form[data-v-56fd475f]{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
