{% extends "layout.html" %}

{% block title %}首页{% endblock %}
{% block breadcrumb %}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-14 mb-4">
        <section class="card">
            <div class="card-body">
                <p align="center">
                    <img src="/static/favicon.png" height="150" alt="logo" />
                </p>
                <h1 align="center" class="card-title" style="margin: 30px 0 30px; font-weight: bold;">fastapi_vue3_app</h1>

                <p align="center" class="card-text">
                    <a href="https://gitee.com/tao__tao/fastapi_vue3_app.git">
                        <img src="https://gitee.com/tao__tao/fastapi_vue3_app/badge/star.svg?theme=dark">
                    </a>
                    <a href="https://gitee.com/tao__tao/fastapi_vue3_app.git">
                        <img src="https://img.shields.io/github/stars/1014TaoTao/fastapi_vue3_app?style=social">
                    </a>
                    <a href="https://gitee.com/tao__tao/fastapi_vue3_app/blob/master/LICENSE">
                        <img src="https://img.shields.io/badge/License-MIT-orange">
                    </a>
                    <img src="https://img.shields.io/badge/Python-≥3.10-blue">
                </p>

                <p align="center" class="card-text">fastapi_vue3_app 是一个整合了FastAPI、Jinja2、SQLModel多个流行技术栈的开源项目。项目旨在帮助开发者迅速启动并运行基于以下技术的Web应用程序。</p>

                <h2 class="card-title" style="margin: 30px 0 30px; font-weight: bold;">特别鸣谢</h2>
                <p class="card-text">感谢您的关注和支持！如果您觉得这个项目对您有帮助，请给我们点个Star！您的支持是我们前进的动力。同时，也欢迎各位开发者参与贡献，共同完善这个项目。同时感谢以下项目的贡献和支持，使本项目得以顺利完成：</p>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="/docs">接口文档</a>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
{% endblock %}